<%#= form_for @note, url: notepad_path(@note) do |f| %>
<%= form_for @note, :url => folder_note_path do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :text, class: "form-control" %><br>
  </div>
  <%= f.label :url %>
  <%= f.text_field :url %><br>
  <%= f.submit class:"btn btn-danger" %>
<% end %>
