<%#= form_for @note, url: notepad_path(@note) do |f| %>

 <ul><% @note.errors.full_messages.each do |error| %>
  <li><%= error %></li>
<% end %></ul>
 <%= form_for @note, :url => new_folder_note_path do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :text, class: "form-control" %><br>
  </div>
  <div class="form-group">
  <%= f.label :url %>
  <%= f.text_field :url %><br>
</div>
  <%= f.submit class:"btn btn-danger" %>
<% end %>
