<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a class="title text-danger" href="/">Notes</a><br>
  <% if user_signed_in? %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
  <% else %>
  <%= link_to 'Log in', new_user_session_path, class:"btn btn-danger" %>
  <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-danger" %>
  <% end %>
<%= yield %>

</body>
</html>
